{% extends "header.html" %}
{% block content %}
<script>
    function newlist(name) {
        var request = new XMLHttpRequest()
        request.open('GET', './newlist/' + name, true)
        request.send();
    }

    function deletelist(listId) {
        var request = new XMLHttpRequest()
        request.open('GET', './deleteList/' + listId, true)
        request.send();
    }

    function getlists() {
        var request = new XMLHttpRequest()
        request.open('GET', './lists', true)
        request.onload = function () {
            var data = this.response;
            console.log(data)
            return (data)
        }
        request.send();
    }
</script>

<button onclick="newlist('test')">make list named test</button>
<button onclick="deletelist('test')">delete list named test</button>
<button onclick="getlists()">print lists to console</button>
{% endblock content %}